@import "../../../../assets/css/payyed.css";
@import "../../../../assets/css/bankdash.css";
/* .content-w {
  background-color: #f2f4f8;
  background-repeat: no-repeat;
  background-position: 20px 50px;
  vertical-align: top;
}

.content-box {
  vertical-align: top;
  padding: 2rem 2.5rem;
  flex: 1;
}

@media (max-width: 1650px) {
  .content-box {
    padding: 2rem;
  }
} */

a {
  text-decoration: none !important;
}
